* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #000000;
}

main {
    width: 800px;
    height: 700px;
    background-color:#1F2937;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    padding: 80px 26px;
    border-radius: 10px;;
}


section {
    padding: 26px; 
}

h1 {
    font-size: 50px;
    font-weight: 800;
    color: #ffffff;
}

span {
    display: block;
    color: #10B981;
}

p {
    font-size: 24px;
    color: #D5D4D8;
}

.input {
    display: flex;
    gap: 10px;
   
}

label {
    color: #10B981;
    font-size: 22px;
}

input {
    width: 60px;
    border: none;
    outline: none;
    background-color:  #273549;
    color: #10B981;
    font-size: 16px;
    padding: 5px;
    border-radius: 5px;
}

input[type="checkbox"] {
    accent-color: #10B981;
    font-size: 22px;
}

.flex {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

#submit,
output {
    background-color: #10B981;
    color: #ECFDF5;
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 10px;
    width: 40%;
    border: none;
}

hr {
    color: #273549;
}

.result {
    display: flex;
    gap: 30px;
}

output {
    text-align: center;
    height: 50px;
    background-color:  #273549;
    color: #273549;
    border: none;
    outline: none;
    width: 50%;
    margin: 20px 0;
    color: #10B981;
}

/* change mood css */

.light {
    background-color: #ECFDF5;
}

.light h1 {
    color: #111827;

}
.light P {
    color: #6B7280;

}

.display {
    display: none;
}

#toggle {
    padding: 10px;
    background-color: #10B981;
    color: #ECFDF5;
    border-radius: 10px;
    position: absolute;
    top: 20px;
    border: none;
    outline: none;
}

